<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <div id="app">
    <header>
      <h1>File Manager</h1>
      <%- include('partials/navbar') %>
    </header>
  
    <main>

      <a class="back-button" href="/">< Back</a>

      <div class="login-wrapper">
        <h1><%= title %></h1>
  
        <form action="/auth/login" method="post">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password">
          <% if (errorMessage) { %>
            <p class="error-text"><%= errorMessage %></p>
          <% } %>
          <p>Need an account? <a href="/auth/register">Register</a></p>
          <button type="submit">Login</button>
        </form>
      </div>
      
    </main>
  </div>

</body>
</html>